<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="../assets/favicon.png" type="image/x-icon">

  <link rel="stylesheet" href="../assets/css/maicons.css">

  <link rel="stylesheet" href="../assets/vendor/animate/animate.css">

  <link rel="stylesheet" href="../assets/vendor/owl-carousel/css/owl.carousel.min.css">

  <link rel="stylesheet" href="../assets/css/bootstrap.css">

  <link rel="stylesheet" href="../assets/css/mobster.css">

  <link rel="stylesheet" href="../login.css">
 </head>

<body>
  <div   class="page-hero-section bg-image hero-mini"  style="background-image: url(../assets/img/hero_mini.svg);">

<h2>Game Between <%- yellowPlayer %> vs <%- redPlayer %></h2>


<form id="inputForm"  >
 

  <button name="array" value=<%= id %>>player move</button>
  
  <input type="text" id="input" name = "input" onfocus=this.value='' id="myText" value="">
</form>

<form method="POST" action="/quit"   >
  <button class="btn btn-primary rounded-pill" name="id" value=<%= JSON.stringify(id) %>>quit</button>
</form>


<p  >It is <%= turn  %> </p>
<p id="winner" >The winner is currenty <%= winner %>  </p>

<div   style=" background:white border:6px  width: 600px; float: left;">

  <canvas id="rr"  width="600" height="525" style="background-image:linear-gradient(to bottom left, cyan, blue);"></canvas>
</div>
<div style=" border:6px solid rgb(60, 60, 94); background:white; float: left;" >

  <form id = "chatForm" style="width:100%">
    <% for(var i = 0; i < chat.length; i++){ %>
       <%if (i%2 ==0) { %>
        <p>  <%=  chat[i]  %>  : <%=  chat[1+i]  %></p>
      <% } %>
          <% } %>
          <p id =client_count></p><br>
    <input  id="m" type="text" name = "chat" onfocus=this.value='' value="" >
    <button id="d"  name = "enemy" value=<%- id %>>chat</button>

  </form>
 </div>
 <script src="/socket.io/socket.io.js"></script>
 <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>

  $(function() {
    var socket = io();

  $('form#chatForm').submit(function(e) {

     e.preventDefault(); // prevents page reloading
      var data = { }

      data.message = $('#m').val()
      data.id =  <%- JSON.stringify(id) %>;
      socket.emit('chat message', data);
      $('#m').val('');
      //return false;
    });
  $('form#inputForm').submit(function(e) {
    
    e.preventDefault(); // prevents page reloading
    var data = { }
    data.input = $('#input').val()
    data.id =  <%- JSON.stringify(id) %>;

    socket.emit('game_send', data);
    $('#input').val('');
    console.log("messaged recievd");

          return false;
    });
    socket.on('users_count', function(data){
        $('#client_count').append($('<p>').text(data.name+" : "+data.chat));
 
    });
    socket.on('game_get', function(data){
    //   if (data.stop == 0){
    //   window.location.href = "userPage.ejs";
    // }
    console.log(data);
    if (data.winner !=""){
          window.location.replace("/userPage");
    }
       $('#winner').append($('<p>').text(data.winner));
           
  let  gameBoard= data.chat;
  let size =  75
  let diameter =  20
  console.log("the lenght is",  gameBoard )
  var canvas = document.getElementById("rr");
  var ctx = canvas.getContext("2d");
  var x= -1;
  var y= -1;
  for(var i = 0; i < gameBoard.length; i++){
    for(var j = 0; j < gameBoard[i].length; j++){

      ctx.lineWidth = 2;
     ctx.fillStyle = gameBoard[i][j];
     ctx.beginPath();
     ctx.arc( size+ j*size,size+ i*size, diameter, 0, 2 * Math.PI);
     ctx.closePath();
     ctx.fill();
}
  }
 
});
 
  });

  </script>

  <script>
    
  let  gameBoard=<%- JSON.stringify(data) %>;
  let size =  75
  let diameter =  20
  console.log("the lenght is",  gameBoard )
  var canvas = document.getElementById("rr");
  var ctx = canvas.getContext("2d");
  var x= -1;
  var y= -1;
  for(var i = 0; i < gameBoard.length; i++){
    for(var j = 0; j < gameBoard[i].length; j++){

      ctx.lineWidth = 2;
     ctx.fillStyle = gameBoard[i][j];
     ctx.beginPath();
     ctx.arc( size+ j*size,size+ i*size, diameter, 0, 2 * Math.PI);
     ctx.closePath();
     ctx.fill();
}
  }
 </script>
<div>

</body>
</html>
